*.exe
*.obj
*.obj.d
*.a
*.srctrldb
*.srctrlbm
*.srctrlprj
*.so
makefile
.gubg/
.bcook/
.cache/
.ninja_deps
.ninja_log
test.ninja
build.ninja
/build
recipes.chai.user
compile_commands.json
fontconfig/
CMakeLists.txt
recipes.naft
turtle.svg
output.txt
*.user
test.svg
default.chai
gcc.chai
clang.chai
msvc.chai
mkmf.log
doc/_build
.ycm_extra_conf.py
