[submodule "gubg.build"]
	path = gubg.build
	url = https://github.com/gfannes/gubg.build
	branch = master
[submodule "gubg.std"]
	path = gubg.std
	url = https://github.com/gfannes/gubg.std
	branch = master
[submodule "gubg.chaiscript"]
	path = gubg.chaiscript
	url = https://github.com/gfannes/gubg.chaiscript
	branch = master
[submodule "gubg.io"]
	path = gubg.io
	url = https://github.com/gfannes/gubg.io
	branch = master
[submodule "gubg.algo"]
	path = gubg.algo
	url = https://github.com/gfannes/gubg.algo
	branch = master
[submodule "gubg.math"]
	path = gubg.math
	url = https://github.com/gfannes/gubg.math
	branch = master
[submodule "extern/boost/modules/range"]
	path = extern/boost/modules/range
	url = https://github.com/boostorg/range.git
[submodule "extern/boost/modules/serialization"]
	path = extern/boost/modules/serialization
	url = https://github.com/boostorg/serialization.git
[submodule "extern/boost/modules/smart_ptr"]
	path = extern/boost/modules/smart_ptr
	url = https://github.com/boostorg/smart_ptr.git
[submodule "extern/boost/modules/static_assert"]
	path = extern/boost/modules/static_assert
	url = https://github.com/boostorg/static_assert.git
[submodule "extern/boost/modules/throw_exception"]
	path = extern/boost/modules/throw_exception
	url = https://github.com/boostorg/throw_exception.git
[submodule "extern/boost/modules/tti"]
	path = extern/boost/modules/tti
	url = https://github.com/boostorg/tti.git
[submodule "extern/boost/modules/tuple"]
	path = extern/boost/modules/tuple
	url = https://github.com/boostorg/tuple.git
[submodule "extern/boost/modules/type_index"]
	path = extern/boost/modules/type_index
	url = https://github.com/boostorg/type_index.git
[submodule "extern/boost/modules/type_traits"]
	path = extern/boost/modules/type_traits
	url = https://github.com/boostorg/type_traits.git
[submodule "extern/boost/modules/typeof"]
	path = extern/boost/modules/typeof
	url = https://github.com/boostorg/typeof.git
[submodule "extern/boost/modules/unordered"]
	path = extern/boost/modules/unordered
	url = https://github.com/boostorg/unordered.git
[submodule "extern/boost/modules/utility"]
	path = extern/boost/modules/utility
	url = https://github.com/boostorg/utility.git
